# Authentication
AllowUsers sftp
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitRootLogin no
UsePAM no

# Connection
ForceCommand internal-sftp
HostKey /app/sftp/host_key
Port 22
Subsystem sftp internal-sftp

# User configuration
Match User sftp
    AuthorizedKeysFile /app/sftp/authorized_keys
